*.pyc

*.egg-info/
/*.egg-info
/*.egg

!ipynb tests/*.stl
AmpScan/AmpScan
AmpScan/*.pyc
*.tiff
*.c
AmpScan/Build
.ipynb_checkpoints
ipynb tests/.ipynb_checkpoints
AmpScan/.ipynb_checkpoints

docs/_build/

GUIs/__pycache__
GUIs/build
GUIs/dist
GUIS/*.spec
Internship_Diary/*.pdf
Internship_Diary/*.gz
*.ipynb_checkpoints

local example files
local ipynb tests

MATLAB

dist
dist/
build

venv/

__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/