*.pyc

/*.egg-info
/*.egg

!ipynb tests/*.stl
AmpScan/AmpScan
AmpScan/*.pyc
*.tiff
*.c
AmpScan/Build
.ipynb_checkpoints
ipynb tests/.ipynb_checkpoints
AmpScan/.ipynb_checkpoints

_build

Internship_Diary/*.pdf
Internship_Diary/*.gz
*.ipynb_checkpoints

local example files
local ipynb tests

MATLAB

dist