*.pyc

*.egg-info/
/*.egg-info
/*.egg

!ipynb tests/*.stl
ampscan/ampscan
ampscan/*.pyc
*.tiff
*.c
ampscan/Build
.ipynb_checkpoints
ipynb tests/.ipynb_checkpoints
ampscan/.ipynb_checkpoints

docs/_build/
docs/*.ai
docs/*.png

gui/__pycache__
gui/build
gui/dist
gui/*.spec
Internship_Diary/*.pdf
Internship_Diary/*.gz
*.ipynb_checkpoints

local example files
local ipynb tests

MATLAB

dist
dist/
build

venv/

__pycache__/

instance/

.pytest_cache/
.coverage
.vscode
htmlcov/

fill_test.stl
tests/obj.obj
tests/stl_file_2_hc.stl
tests/stl_file_2_lp.stl
tests/stl_file_trim.stl