numpy>=1.12
matplotlib>=2
scipy>=1.2.1
sphinxcontrib-napoleon
vtk>=8
PyQt5>=5,<=5.13
PyPDF2>=1.20
reportlab>=3

sphinx
sphinx_rtd_theme
nbsphinx
jupyter_sphinx
git+https://github.com/abel-research/ampscan
